@import './_normalize.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// CSS variables. Make them CSS variables to keep the option open for theming
:root {
  --colorPrimaryBase: #073451;
  --colorPrimaryLight: #214E6B;
  --colorPrimaryDark: #001B38;
  --colorPrimaryFaded: #628397;
  --colorPrimaryTrans: rgba(7, 51, 80, 0.5);
  --colorSecondaryBase: #e3761c;
  --colorSecondaryLight: #FD9036;
  --colorSecondaryDark: #CA5D03;
  --colorSecondaryTrans: rgba(227, 118, 28, 0.5);
  --colorFormInputPlaceholder: rgba(44, 44, 44, .5);
  --colorFormInputFontColor: #474747;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-rendering: optimizelegibility;
}