$colorBorder: #656565;

%element {
  width: 100%;
  color: var(--colorFormInputFontColor);
  border-radius: 3px;
  border: 1px solid $colorBorder;
  transition: border .3s;
  box-shadow: inset 0 0 0 0 transparent;
  outline: 0;

  &:focus {
    border: 1px solid var(--colorPrimaryBase);
  }

  &.error {
    border: 1px solid red;
  }

  //Style Placeholder
  &::-webkit-input-placeholder {
    color: var(--colorFormInputPlaceholder);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: var(--colorFormInputPlaceholder);
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: var(--colorFormInputPlaceholder);
  }

  &:-ms-input-placeholder {
    color: var(--colorFormInputPlaceholder);
  }
}